html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: row;
}


.navbar {
  position: sticky;   /* sticks when scrolling */
  top: 0;             /* stick to top edge */
  width: 100%;        /* full width */
  z-index: 1000; 
  height: 60px;     /* stays above sidebar */
}